
{% extends 'base.html' %}
{% load static %}
{% block title %}Add/Update Plant - Planteer{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>{% if form.instance.pk %}Update{% else %}Add{% endif %} Plant</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="{{ form.name.id_for_label }}" class="form-label">Name</label>
            {{ form.name }}
        </div>
        <div class="form-group">
            <label for="{{ form.about.id_for_label }}" class="form-label">About</label>
            {{ form.about }}
        </div>
        <div class="form-group">
            <label for="{{ form.used_for.id_for_label }}" class="form-label">Used For</label>
            {{ form.used_for }}
        </div>
        <div class="form-group">
            <label for="{{ form.image.id_for_label }}" class="form-label">Image</label>
            {{ form.image }}
        </div>
        <div class="form-group">
            <label for="{{ form.category.id_for_label }}" class="form-label">Category</label>
            {{ form.category }}
        </div>
        <div class="form-group">
            <label for="{{ form.is_edible.id_for_label }}" class="form-label">Is Edible</label>
            {{ form.is_edible }}
        </div>
        <button type="submit" class="btn btn-dark">Save</button>
    </form>
</div>
{% endblock %}
