
{% extends 'base.html' %}
{% load static %}
{% block title %}{{ plant.name }} - Planteer{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-8">
            <img src="{{ plant.image.url }}" class="img-fluid" alt="{{ plant.name }}">
            <h2>{{ plant.name }}</h2>
            <p><strong>Category: </strong>{{ plant.category }}</p>
            <p><strong>About: </strong>{{ plant.about }}</p>
            <p><strong>Is Edible: </strong>{{ plant.is_edible|yesno:"Yes,No" }}</p>
            <p><strong>Used For: </strong>{{ plant.used_for }}</p>
        </div>
        <div class="col-md-4">
            <h3>Related Plants</h3>
            <ul class="list-group">
                {% for related_plant in related_plants %}
                    <li class="list-group-item">
                        <a href="{% url 'plant_detail' related_plant.id %}">{{ related_plant.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="mt-4">
        <a href="{% url 'update_plant' plant.id %}" class="btn btn-secondary">Update</a>
        <form action="{% url 'delete_plant' plant.id %}" method="post" class="d-inline">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
    </div>
</div>
{% endblock %}
