{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %} {% endblock %}</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  {% tailwind_css %}
</head>
<body>
  <nav class="flex flex-row text-black justify-between px-12 py-16">
    <div>
      <a href="{% url 'main:home_view' %}">Planteer</a>
    </div>
    <div class="flex flex-row gap-3">
      <a href="{% url 'plants:all_plants_view' %}">All Plants</a>
      <a href="{% url 'main:contact_view' %}">Contact Us</a>
      <a href="{% url 'plants:create_plant_view' %}" class="border-0 rounded-md bg-black text-white px-1">Add Plant</a>
    </div>
  </nav>
  {% block content %}

  {% endblock %}
</body>
</html>