{% extends 'main/base.html' %}

{% block title %} home {% endblock %}

{% block content %}

<div class="row mt-5 row-cols-1 row-cols-md-3 g-4">
  
  {% for plant in plants %}
  <div class="col">
    <div class="d-flex flex-column justify-content-start align-items-start h-100 p-4 shadow">
      <h3>{{plant.name}}</h3>
      <p>{{plant.about}} <a href="{% url 'plants:detail_view' plant.id %}">more</a></p>
      <p>{{plant.category}}</p>
      <h5>created at  {{plant.created_at}}</h5>
      <h6>{{plant.is_edible}}</h6>
      <img src="{{ plant.image.url }}" class="w-50" alt="">
    </div>
  </div>
  {% endfor %}
  
  
</div>

{% endblock %}