{% extends "Main/base.html" %}

{% load static %}

{% block content %}
<script>
    AOS.init();
</script>
<div class="pl-32 pr-32">
    <div class="flex flex-col items-center justify-center h-screen space-y-12">
        <div class="relative max-w-7xl transition-all cursor-pointer flex justify-center items-center">
            <a href="#">
                <img class="rounded-3xl w-[1600px] h-[650px] object-cover max-w-full" src="{% static 'images/background1.jpg' %}"
                    alt="image description">
            </a>
            <figcaption
                class="absolute inset-0 flex flex-col items-center justify-center px-4 text-lg text-white rounded-3xl">
                <p class="text-black text-center mb-16 text-9xl font-bold img-animation">Planteer</p>

                <p class="text-black text-center mb-16 text-6xl font-bold img-animation word-spacing">
                    Plant Database For Plants Lovers</p>

                <div class="w-full max-w-2xl">
                        <form action="{% url 'Plants:search_plant' %}" method="GET" class="mb-4 mr-4 w-full flex justify-center items-center">
                            <input required minlength="3" type="text" name="query" value="{{ query }}" placeholder="Search..." class="mr-6 p-3 rounded-lg w-full place-content-center justify-center text-black border ">
                            <button type="submit" class="bg-black text-white py-3 px-8 rounded-lg">Search</button>
                        </form>                            
                </div>
            </figcaption>
        </div>
    </div>

    <div class="flex justify-between items-center mb-4">
        <p class="font-bold text-lg"><a href="">Plants</a></p>
        <p class="flex items-center space-x-2">
            <a href="{% url 'Plants:plants' %}" class="flex items-center">
                More
                <img src="{% static 'images/arrow.png' %}" alt="" class="ml-2 h-6">
            </a>
        </p>
    </div>

    
    <p class="tilt-in-fwd-bl text-gray-500 mb-6">Learn more about plants</p>
    <div data-aos="fade-left" data-aos-anchor="#example-anchor" data-aos-offset="500" data-aos-duration="500"
    class="flex flex-col items-center">

    <div class="card-grid flex flex-wrap justify-center" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
        {% for plant in plants %}
        <div class="relative flex flex-col mt-6 text-gray-700 bg-white shadow-md bg-clip-border rounded-xl w-96 overflow-hidden"
            data-aos="fade-up" data-aos-duration="1000">
            <img src="{{ plant.plant_image.url }}" alt="image"
                class="w-full h-56 object-cover rounded-t-xl" />
            <div class="pl-6 pr-6 p-2">
                <p class="block font-sans text-base antialiased font-bold leading-relaxed text-inherit">
                    Plant {{ plant.id }}
                </p>
            </div>
            <div class="pl-6 pr-6 p-2">
                <p class="block font-sans text-base antialiased font-light leading-relaxed text-inherit">
                    Is it edible {{ plant.is_edible }}
                </p>
            </div>
            <div class="pl-6 pr-6 p-2">
                <p class="block font-sans text-base antialiased font-bold leading-relaxed text-inherit">
                    {{ plant.category }}
                </p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

    <br><br>



</div>


{% endblock content %}