{% extends 'main/base.html' %}
{% block content %}

    <main>
        <div class="flex flex-col ml-44 gap-6 mt-20">
            <h1 class="text-3xl bold">Search Results</h1>
            <div>
                <form action="{% url 'main:plant_search_view' %}" method="post">
                    {% csrf_token %}
                <input class="w-3/4 border-gray-400 rounded-md" type="search" name="search" id="">
                <input class="cursor-pointer bg-black text-white p-2 rounded-md w-24" type="submit" value="Search">
            </form>
            </div>        
        </div>
        
<div class="w-11/12  flex flex-col  " >
    <!-- style="width: 90%; align-self: self-start; display: flex; flex-direction: column; " -->

     <div class="flex flex-row justify-around mt-20 gap-96" >
    <div class="  ">
        <!-- style=" margin-left: 5.8rem; margin-top: 2rem;" -->
        <h2 class="text-2xl bold">Plants</h2>
        <!-- style="margin: 0;" -->
    <p >Reuslts Found: {{count}}</p >
    </div>
    <div>
        
    </div>
    </div>
    <div class="flex flex-row gap-x-10  gap-y-10 mt-16 ml-36 w-5/6 flex-wrap " >
        <!-- style="display: flex; flex-direction: row; column-gap: 10rem; flex-wrap: wrap; " -->
       {% for plant in plants %}
        <div class="card-item self-start justify-self-start " >
            <!-- style="margin-left: 5.8rem;" -->
            <img src="{{plant.image.url}}" alt="fruit-image" class="w-80 rounded-md">
            <!-- style="width: 300px; border-radius: 5px;" -->
            <div class="flex flex-row justify-between">
                <div>
                   <a href="{% url 'main:plant_detail_view' plant.id %}"> <p class="title font-bold hover:text-red-700">{{plant.name}}</p></a>
                <p class="subtitle">{{plant.about|truncatechars:40 }}</p>
                <p class="category ">{{plant.category}}</p>
                </div>
                <div> 
                    <a href="{% url 'main:update_plant_view' plant.id %}"><i class="fa-solid fa-pen-to-square"></i></a>
                    <a href="{% url 'main:delete_plant_view'  plant.id %}"><i class="fa-solid fa-trash-can text-red-600"></i> </a>
                </div>

            </div>
        </div>
        {% endfor %}



        

     
        <!-- end of the container -->
    </div>

</div>

    </main>
{% endblock %}