{% extends 'base.html' %} 
{% load static %}
{% block title %} Add Plant {% endblock %}

{% block content %}     
    <form class="d-flex flex-column gap-2 m-4" action="{% url 'plant:createPlant_view' %}" method="post" enctype="multipart/form-data"><!--  I should put endcoding type for sending image -->
    {% csrf_token %}
    <input type="text" placeholder="Name of the plant" name="name" class="form-control" />
            <textarea placeholder="write discriptino" name="about" class="form-control"></textarea>
            <input type="text" placeholder="What is used for?" name="used_for" class="form-control" />
            <input type="file" placeholder="uploadImage" name="image" class="form-control" accept="image/*"/>

            <select class="form-select" aria-placeholder="Choose category" id="category"name="category" required>
                <option value="1">fruit</option>
                <option value="2">vegtiables</option>
                <option value="3">Decorating tree</option>
                <option value="4">farming</option>
                </select>

              <label for="is_edible">Is Edible:</label>
        <select class="form-select" id="is_edible" name="is_edible" required>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
        </select>
            <input type="date" name="created_at" class="form-control"/>
            <input type="submit" value="add plant" class="btn btn-primary" />
        </form>
        <a href="/plant/listAll/plant" class="btn btn-success align-middle">Manage Plant product</a>
        
{% endblock %}
