{% extends 'base.html' %} 
{%load static%}
{% block title %} Home {% endblock %}

{%block content %} 

{% for plant in plants %}
    <div class="col">
    <div
        class="d-flex flex-column justify-content-start align-items-start h-100 p-4 shadow">
        <h3>{{plant.name}}</h3>
        <p>{{plant.about}}</p>
        <h5>Published by: {{plant.used_for}}</h5>
        <h6>{{plant.created_at}}</h6>
        <h6>{{plant.created_at}}</h6>
        <h6>{{plant.created_at}}</h6>
        {% if plant.image %}
        <img
        src="{{ plant.image.url }}"
        class="w-100 poster-thumb object-fit-cover"
        />
        {% else %}
        <p>Image not found</p>
        <img
        src="media/images/defualt.png"
        class="w-20 poster-thumb object-fit-contain"
        />
        </div>
        </div>
{% endif %}
{% endfor %}

{% endblock %}
