{% extends 'main/base.html' %}

{% block title %} add plants{% endblock %}

{% block content %}
<h1>add new Plant</h1>

<div class="row mt-2 row-cols-1 row-cols-md-3 g-4">

    <form action="{% url 'plants:add_plants' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" maxlength="1024" required><br><br>
        
        <label for="about">About:</label>
        <textarea id="about" name="about" rows="4" cols="50" required></textarea><br><br>
        
        <label for="used_for">Used For:</label>
        <textarea id="used_for" name="used_for" rows="4" cols="50" required></textarea><br><br>
        
        <label for="image">Image:</label>
        <input type="file" id="image" name="image" accept="image/*"><br><br>
        
        <label for="category">Category:</label>
        <select id="category" name="category" required>
            <option value="fruit">Fruit</option>
            <option value="tree">Tree</option>
            <option value="vegetables">Vegetables</option>
        </select><br><br>
        
        <label for="is_edible">Is Edible:</label>
        <input type="checkbox" id="is_edible" name="is_edible"><br><br>
        
        <button type="submit">Submit</button>
    </form>
  
  
  </div>

{% endblock %}


