{% extends 'main/base.html' %}

{% block title %} add plant{% endblock %}

{% block content %}
<style>

    label h5{
    color:black; 
    font-size: 1rem; 
    font-weight: 400; 
    margin-bottom: 0rem; 
    font-family: "Roboto", sans-serif;
}
</style>
<h1>Add Plant</h1>

<div class="row">

    <div class="col-6">
        
        <form class="d-flex flex-column gap-2" action="{% url 'plants:add_plant' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="name" class="form-label"><h5>name</h5></label>
            <input type="text" placeholder="name" name="name" class="form-control" />
            
            <label for="about" class="form-label"><h5>About</h5></label>
            <textarea placeholder="about" name="about" class="form-control"></textarea>
           
            <label for="used_for" class="form-label"><h5>used for</h5></label>
            <input type="text" placeholder="used for" name="used_for" class="form-control" />
            
            <div class="mb-3">
                <label class="form-label">Category</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="category" value="vegetables">
                    <label class="form-check-label" for="vegetables">Vegetables</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="category" value="fruits">
                    <label class="form-check-label" for="fruits">Fruits</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="category" value="herbs">
                    <label class="form-check-label" for="herbs">Herbs</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="category"  value="flowers">
                    <label class="form-check-label" for="flowers">Flowers</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="category"  value="trees">
                    <label class="form-check-label" for="trees">Trees</label>
                </div>
            </div>
            <div class="mb-3">
                <input class="form-check-input" type="checkbox" id="isEdible" name="is_edible">
                <label class="form-check-label" for="isEdible">Edible</label>
            </div>
              <h6>upload an image of the plant here </h6>
            <input type="file" name="image" class="form-control"/>

            <input type="submit" value="Add Plant" class="btn btn-primary" />

        </form>


    </div>

</div>


{% endblock %}