{% extends 'main/base.html' %}

{% block title %} detaild plant{% endblock %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

{% block content %}

<!--  detaild plant  -->

<div class="row">
    <div class="col-md-6">
        <img src="{{plant.image.url}}" class="w-100" style="height: 300px; object-fit: cover;" >    
      </div>

    <div class="col-md-6">
        <div class="d-flex flex-column justify-content-between gap-2">
            <h1>{{plant.name}}</h1>

            <h5>{{plant.category}}</h5>
            <p>{{plant.about}}</p>
            <h6>Is Edible: {% if plant.is_edible %}Yes{% else %}No{% endif %}</h6>
            <h6>Used for: {{plant.used_for}}</h6>
        </div>
        <a href="{%url 'plants:update_plant' plant.id%}" class="btn btn-primary ">update</a>

        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
            delete
          </button>
    </div>
</div>
<hr/>   
    <!-- adding comments  -->

   <h3>comments</h3>
   <form class="d-flex flex-column gap-2"  action="{%url 'plants:add_review' plant.id%}" method="POST">
     {% csrf_token %}
   <input class="form-control" name="name" placeholder="name" type="text" required>
   <textarea class="form-control" name="comment" placeholder="comment" type="text" required ></textarea>
  <input type="submit" class="btn btn-primary" value="Add Review"/>
</form>
    <!-- end of add comments  -->

   <hr/>  
   </div>
   <hr/>
    <!-- all comments  -->
   <div class="d-flex flex-column gap-2" shadow>
    <h3>all comments ({{ count }})</h3>

    {% for review in reviews %}
    <div class="d-flex align-items-center gap-2">
        <span class="material-symbols-outlined">account_circle</span>
        <h5 class="mb-0">{{ review.name }}</h5>
    </div>
    <h6>{{ review.comment }}</h6>
    <h6>{{ review.created_at }}</h6>
    <br/>
    {% endfor %}
  </div>
    <hr/>
<!-- end all comments  -->
<br/>
<!-- related plants  -->

<h3>related plants:</h3>
   <div class="row mt-5 row-cols-1 row-cols-md-3 g-4">
    
    {% for plant in filterPlants %}
    <div class="col">
        <div class="d-flex flex-column justify-content-start align-items-start h-100 p-4 shadow">
            <img src="{{ plant.image.url }}" class="w-100">
            <a href="{% url 'plants:plant_detail' plant.id %}"><h3>{{ plant.name }}</h3></a>
            <h5>{{ plant.category }}</h5>
        </div>
    </div>
    {% endfor %}
</div>
<!-- end of related plants  -->



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Plant</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete {{plant.name}}?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <a href="{%url 'plants:delete_plant' plant.id%}" class="btn btn-danger ">delete</a>
      </div>
      </div>
    </div>
  </div>
{% endblock %}