{% extends 'main/base.html' %}

{% block title %} all plants{% endblock %}

{% block content %}


<div class="row">
    <div class="col-md-6">
        <img src="{{plant.image.url}}" class="w-100" style="height: 300px; object-fit: cover;" >    </div>

    <div class="col-md-6">
        <div class="d-flex flex-column justify-content-between gap-2">
            <h1>{{plant.name}}</h1>

            <h5>{{plant.category}}</h5>
            <p>{{plant.about}}</p>
            <h6>Is Edible: {% if plant.is_edible %}Yes{% else %}No{% endif %}</h6>
            <h6>Used for: {{plant.used_for}}</h6>
        </div>
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
            delete
          </button>
    </div>
</div>
   
   
   </div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Plant</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete {{plant.name}}?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <a href="{%url 'plants:delete_plant' plant.id%}" class="btn btn-danger ">delete</a>
      </div>
      </div>
    </div>
  </div>
{% endblock %}