{% extends 'main/base.html' %}

{% block title %} search plants{% endblock %}

{% block content %}

{% if count > 0 %}
<h1> {{count}} results of '{{search}}' founded </h1>

<div class="row mt-2 row-cols-1 row-cols-md-3 g-4">

    {% for plant in plants %}
    <div class="col">
      <div class="d-flex flex-column justify-content-start align-items-start h-100 p-4 shadow">
        <h3>{{plant.name}}</h3>
        <p>category : {{plant.category}}</p>
        <h6>is edible : {% if plant.is_edible %} yes {% else %} no {% endif %}</h6>
        <img src="{{ plant.image.url }}" class="w-50" alt="">
        <button class="btn btn-primary mt-2"><a href="{% url 'plants:detail_view' plant.id %}">see details </a></button>
        <span class="mt-2">created at {{plant.created_at}}</span>
      </div>
    </div>
    {% endfor %}
  
  
  </div>

  {% else %}

  <h4 class="bg-warning p-3 rounded"> no results founded </h4>
  <form role="search" method="post" action="{% url 'plants:search_plants' %}">
    {% csrf_token %}
    <input class="form-control w-25" type="search" placeholder="Search for another plants " aria-label="Search" name="search" required minlength="3">
    <button type="submit" class="btn btn-primary mt-2">search </button>
  </form>

  {% endif %}


{% endblock %}