{% extends "main/base.html" %}
{% load static %}

{% block title %}Search Plants{% endblock title %}

{% block content %}
<div class="content-home-padding">
    <h1 class="bold-font-prop tilt-in-fwd-bl"> Search Plants </h1>

    <form action="{% url 'Plants:search_plant' %}" method="GET" class="mb-4 mr-4 flex justify-center">
        <input type="text" minlength="3" maxlength="512" required name="query" value="{{ query }}" placeholder="Search..." class="mr-8 border p-2 rounded w-[800px] place-content-center justify-center ">
        <button type="submit" class="bg-black text-white py-2 px-8 rounded-lg">Search</button>
    </form>
    {% if query %}
        {% if plants %}
            <h2> <span class="text-teal-500 font-semibold text-xl">Search Results {{ count }} found: </span></h2>
            <div class="card-grid"  data-aos="fade-up">
                {% for plant in plants %}
                <div class="relative flex flex-col mt-6  bg-white shadow-md bg-clip-border rounded-xl w-96 overflow-hidden">
                    <img src="{{ plant.plant_image.url }}" alt="image" class="w-full h-56 object-cover rounded-t-xl" />
                    <div class="pl-6 pr-6 p-2">
                        <p class="block font-sans text-base antialiased font-extrabold leading-relaxed text-inherit hover:text-teal-500 ">
                            <a href="{% url 'Plants:plant_detail' plant.id %}">Plant {{ plant.id }}</a>
                        </p>
                    </div>
                    <div class="pl-6 pr-6 p-1">
                        <p class="block text-gray-500 font-medium font-sans text-base antialiased leading-relaxed">
                            Brief About the Plant
                        </p>
                    </div>
                    <div class="pl-6 pr-6 p-1 pb-5">
                        <p class="block font-sans text-base antialiased font-medium leading-relaxed text-inherit">
                            {{ plant.name }}
                        </p>
                    </div>
                </div>
                {% endfor %}
            </div>
        {% else %}
            <p class="text-red-400 justify-center items-center text-2xl font-bold pt-12">No plants found.</p>
        {% endif %}
    {% endif %}
{% endblock content %}
