{% extends 'main/base.html' %}
{%load static%}
{% block title %} update plant{% endblock %}

{% block content %}
<style>

    label h5{
    color:black; 
    font-size: 1rem; 
    font-weight: 400; 
    margin-bottom: 0rem; 
    font-family: "Roboto", sans-serif;
}
</style>
<h1>Update Plant</h1>

<div class="row">

    <div class="col-6">
        
        <form class="d-flex flex-column gap-2" action="{% url 'plants:update_plant' plant.id %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="name" class="form-label"><h5>name</h5></label>
            <input type="text" placeholder="name" name="name" class="form-control" value="{{ plant.name }}"/>

            <label for="about" class="form-label"><h5>About</h5></label>
            <textarea placeholder="about" name="about" class="form-control">{{ plant.about }}</textarea>
          
            <label for="used_for" class="form-label"><h5>used for</h5></label>
            <input type="text" placeholder="used for" name="used_for" class="form-control" value="{{ plant.used_for }}"/>
           
            
            <div class="mb-3">
                <label class="form-label">Category</label>
                <br/>
                {% for val, label in categoryChoices %}
                    <input type="radio" id="{{ val }}" name="category" value="{{ val }}">
                    <label for="{{ val }}">{{ label }}</label>
                {% endfor %}
            </div>
            <div class="mb-3">
                <input class="form-check-input" type="checkbox" id="isEdible" name="is_edible" {% if plant.is_edible %}checked{% endif %}>
                <label class="form-check-label" for="isEdible">Edible</label>
            </div>
              <div class="row">
                <div class="d-flex justify-content-start">
                    <img src="{{plant.image.url}}" class="w-50 " >
                </div>
            </div>
            <h6>update image </h6>
            <input type="file" name="image" class="form-control"/>

            <input type="submit" value="update Plant" class="btn btn-primary" />

        </form>


    </div>

</div>
{% endblock %}