
* {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-style: normal;
    
}
h1 {
    padding-top: 6rem;
    font-size: 4rem;
    margin-bottom: 4rem;
    
}

h1, h2 {
    font-family: "Rubik", sans-serif;
}

.navbar-brand h2 {
    font-family: "Rubik", sans-serif;
}

body {
    min-height: 100vh;
    margin-bottom: 5rem;
}

p {
    white-space:pre-line;
}



.top-logo {
    font-size: 2.2rem;
    color: rgb(0, 0, 0);
    transition: all 0.2s ease-in;
}

.top-logo:hover {
    transform: translate(5%, -5%) ;
}

.hero {
    transition: all 0.3s ease-in;
}



.hero  {
    padding-left: 4rem;
}


input[type="search"]{
    margin-top: 2rem;
}


.top-nav span {
    padding:0.2rem;

}
.nav-link {
    color: #000000 !important; /* Sets the text color to black */
}
.top-nav a {
    padding: 0px !important;
}


.overlay-background h1 ,.overlay-background h2 {
    color: black !important; 
    font-weight: 400;
    font-family: "Rubik", sans-serif;

}
a{
color: #000000;
text-decoration: none;
}
