{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<div class="hero-section position-relative mb-5">
    <img src="{% static 'images/background.jpg' %}" alt="Plant collage" class="rounded img-fluid w-100 h-100 object-fit-cover">
    <div class="position-absolute top-50 start-50 translate-middle text-center">
        <h1 class="display-1 mb-2 fw-bold animate__animated animate__fadeInDown" style="font-size: 5em;">Planteer</h1>
        <h2 class="mb-4 animate__animated animate__fadeInUp" style="font-weight:bold; font-size: 4.2em; white-space: nowrap;">Plant Database For Plants Lovers</h2>
        <div class="animate__animated animate__fadeIn animate__delay-1s">
            <form action="{% url 'plants:search_plants' %}" method="get" style="max-width: 600px; margin: 0 auto; display: flex; justify-content: space-between;">
                <input type="text" class="form-control" placeholder="Search For Plant..." style="flex-grow: 1; margin-right: 10px;" name="query">
                <button class="btn btn-dark" type="submit">Search</button>
            </form>
        </div>
    </div>
</div>

{% if plants %}
    <section class="mt-5 animate__animated animate__fadeIn animate__delay-1s">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h3>Plants</h3>
            <a href="{% url 'plants:all_plants' %}" class="text-dark">More →</a>
        </div>
        <p class="text-muted">Learn more about plants</p>
        <div class="row">
            {% for plant in plants %}
            <div class="col-md-4 mb-4">
                <a href="{% url 'plants:plant_details' plant.id %}" style="text-decoration: none; color: inherit;">
                    <div class="card border-0">
                        <img src="{{ plant.image.url }}" class="card-img-top" alt="{{ plant.name }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ plant.name }}</h5>
                            <p class="card-text">{{ plant.about|truncatewords:20 }}</p>
                            <p class="card-text"><small class="text-dark fw-bold">{{ plant.category|capfirst }}</small></p>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </section>
{% endif %}
{% block extra_css %}
<style>
    .hero-section {
        height: 60vh;
        min-height: 400px;
        overflow: hidden;
    }
    .hero-section img {
        object-fit: cover;
        object-position: right center;
        height: 100%;
    }
    .hero-content {
        background-color: rgba(255, 255, 255, 0.8);
        padding: 2rem;
        border-radius: 10px;
    }
    @media (max-width: 768px) {
        .hero-content {
            width: 100%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }
    }
</style>
{% endblock %}
{% endblock %}