{% extends 'main/base.html'%} 
{% block content %}

<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center">
        <h1 class="mb-4 animate__animated animate__fadeInDown">All Plants</h1>
        <div class="filter-section">
            <form method="get" action="{% url 'plants:all_plants' %}">
                <div class="d-flex align-items-center">
                    
                    <label for="category" class="me-2">Category:</label>
                    <select name="category" id="category" class="form-select me-4" onchange="this.form.submit()">
                        <option value="all" {% if selected_category == 'all' %}selected{% endif %}>Default</option>
                        {% for category in categories %}
                        <option value="{{ category }}" {% if selected_category == category %}selected{% endif %}>{{ category|capfirst }}</option>
                        {% endfor %}
                    </select>

                    <label for="edible" class="me-2">Edible:</label>
                    <select name="edible" id="edible" class="form-select" onchange="this.form.submit()">
                        <option value="all" {% if selected_edible == 'all' %}selected{% endif %}>Default</option>
                        <option value="True" {% if selected_edible == 'True' %}selected{% endif %}>Yes</option>
                        <option value="False" {% if selected_edible == 'False' %}selected{% endif %}>No</option>
                    </select>
                </div>
            </form>
        </div>
    </div>

    {% if plants %}
        <div class="row">
            {% for plant in plants %}
            <div class="col-md-4 mb-4 wow animate__animated animate__fadeIn" data-wow-delay="{{ forloop.counter0|divisibleby:3|yesno:'0,0.2,0.4' }}s">
                <a href="{% url 'plants:plant_details' plant.id %}" style="text-decoration: none; color: inherit;">
                    <div class="card border-0">
                        <img src="{{ plant.image.url }}" class="card-img-top" alt="{{ plant.name }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ plant.name }}</h5>
                            <p class="card-text">{{ plant.about|truncatewords:20 }}</p>
                            <p class="card-text"><small class="text-dark fw-bold">{{ plant.category|capfirst }}</small></p>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="text-center mt-5 animate__animated animate__fadeIn">
            <h3>No plants available at the moment.</h3>
        </div>
    {% endif %}
</div>

{% endblock %}
