{% extends "PagesBase/base.html" %}
{%block body%}
<div class="row">
    <div class="col-12">
        <form action="{% url 'PagesPlanteer:update' plant.id %}" class="d-flex flex-column gap-3" method="post" enctype="multipart/form-data">
            {% csrf_token%}
            <input type="text" placeholder="Plant name" name="name" value='{{plant.name}}' class="form-control" required/>
            <textarea name="about" placeholder="About the plant" class="form-control" required>{{plant.about}}</textarea>
            <textarea name="used_for" placeholder="used for .." class="form-control" required>{{plant.used_for}}</textarea>
            <select name="category" class="form-select" required>
                <option selected value="">Choose</option>
                <option value="Angiosperms">Angiosperms</option>
                <option value="Pteridophytes">Pteridophytes</option>
                <option value="Gymnosperms">Gymnosperms</option>
            </select>
            <select name="is_edible" class="form-select" required>
                <option selected value="">Edible</option>
                <option value="True">Yes</option>
                <option value="False">No</option>
            </select>
            <input type="date" name="created_at" value='{{plant.created_at.isoformat}}' class="form-control" required/>
            <input type="file" accept="image/*" name="image" class="form-control" value="{{plant.image.url}}" required/>
            <img src="{{plant.image.url}}" alt="">
            <input type="submit" value="ubdate" class="btn btn-primary">
        </form>
    </div>

</div>
{%endblock%}